In [189]:
import pandas as pd
import numpy as np

In [197]:
#looks at corpus and creates tf basis vector (bag of words)
def corp2bag(corp):
    lookup = []
    for doc in corp:
        if type(doc) != list:
            doc = doc.split(' ')
        for word in doc:
            if lookup.count(word) == 0:
                lookup.append(word)
    lookup.sort()
    return lookup

#creates 3d vector space with tf
def corp2vec(corp):
    lookup = corp2bag(corp)
    vs = []
    for line in corp:
        if type(line) != list:
            line = line.split(' ')
        v = []
        for word in lookup:
            v.append(0)
            v[lookup.index(word)] = line.count(word)
        vs.append(v)
        
    return pd.DataFrame(vs,columns=lookup)

def tfidf(corpus):
    cv = corp2vec(corpus) #count vectorizer 
    X = cv.shape[0] # number of documents 
    for col in cv.columns:
        Xt = cv[cv[col] > 0].shape[0] # number of documents containting term t. In this case, the value of "col"
        cv[col] = cv[col].apply(lambda x: x * (np.log10(X/(Xt+1)))) #plus 1 to prevent division by zero
    return cv

In [191]:
corp = ['hello this is a list','a lion is a cat','exams are hard']

In [192]:
t = tfidf(corp)
c = corp2vec(corp)

In [195]:
t

,a,are,cat,exams,hard,hello,is,lion,list,this
0,0.0,0.000000,0.000000,0.000000,0.000000,0.176091,0.0,0.000000,0.176091,0.176091
1,0.0,0.000000,0.176091,0.000000,0.000000,0.000000,0.0,0.176091,0.000000,0.000000
2,0.0,0.176091,0.000000,0.176091,0.176091,0.000000,0.0,0.000000,0.000000,0.000000

In [196]:
c

   a  are  cat  exams  hard  hello  is  lion  list  this
0  1    0    0      0     0      1   1     0     1     1
1  2    0    1      0     0      0   1     1     0     0
2  0    1    0      1     1      0   0     0     0     0